@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
h2{
    background-color: whitesmoke;
    font-size: 20px;
    font-style: initial;
}
body{
    background-color: white;
}
.n1{
    text-align: center;
    background-color: lightgreen;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
   min-height: 72vh;
   background-color: black;
   color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }
#login { 

    font-family: "Times New Roman", Times, serif;  
    background-color: whitesmoke;  
    text-align: center;
  }  
.container1{
padding-top: 70px;
}

button {   
     background-color: green;   
     width: 10%;  
     color: #191414;   
     padding: 15px;   
     margin: 10px 0px;
     border-radius: 50px 50px 50px 50px;   
     border: 1px solid black;   
     cursor: pointer;   
}   
  
#User{
    font-size: 15px;
    font-weight: bolder;
    padding-right: 360px;
    flex-wrap: wrap;
}

#Pass{
    font-size: 15px;
    font-weight: bolder;
    padding-right: 360px;
}

#Pass1{
    font-size: 15x;
    font-weight: bolder;
    padding-right: 300px;
}

.Mail{
    font-size: 15px;
    font-weight: bolder;
    padding-right: 380px;
}

input[type=text], input[type=password],input[type=email] {   
    width: 30%; 
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid black;   
    box-sizing: content-box;   
}  
button:hover {   
    opacity: 0.7;   
}   
.cancelbtn {   
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;  
}   
#Sign Up{
    font-family: "Times New Roman", Times, serif;  
    background-color: white;  
    text-align: center;
}    
#Align{
    text-align: center;
}   
.Src{
    padding-top: 20px;
} 
.flex-parent-element {
    display: grid;
  }
  
  .flex-child-element {
    flex: 1;
    padding-top: 150px;
    font-size: 20px;
    text-align: center;
    background-color: black;
    height: 200px;

  }
  
  .flex-child-element:first-child {
    padding-top: 200px;
    font-size: 40px;
    text-align: center;
    background-color: lightgreen;
    height: 400px;
  }
.b1{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

.brand1{
    padding: 0 12px;
}
.brand1 img{
    width: 44px;
    padding: 0 8px;
}

.brand1 {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.l1{
    padding-left: 40px;
}